/**
 * Editor style
 *
 * @package Sensei S2
 * @version 2.2.5
 */

 body,
 input,
 textarea,
 select,
 button {
   font-family: 'Montserrat', sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 a {
   -ms-word-wrap: break-word;
   word-wrap: break-word;
 }

 h1 {
   font-size: 2.825rem;
 }

 h2 {
   font-size: 3.25rem;
 }

 h3 {
   font-size: 1.5rem;
 }

 h4 {
   font-size: 1rem;
 }

 h5 {
   font-size: 0.875rem;
 }

 h6 {
   font-size: 0.75rem;
 }

 p {
   font-size: 0.875rem;
 }
